:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f5f6fa;
  color: #111827;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #535bf2;
}

button {
  font-family: inherit;
}
